name: Release Android
on:
  release:
    types: [ published ]

defaults:
  run:
    working-directory: app

jobs:
  build:
    timeout-minutes: 10
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v1
        with:
          java-version: '12.x'
      - name: Cache Flutter dependencies
        uses: actions/cache@v1
        with:
          path: /opt/hostedtoolcache/flutter
          key: ${{ runner.OS }}-flutter-install-cache-${{ env.flutter_version }}
      - uses: subosito/flutter-action@v1
        with:
          channel: 'stable'

      - name: Retrieve build name from tag
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF#refs/tags/}

      - name: Load secrets
        working-directory: app/android
        run: |
          echo "${{ secrets.KEYSTORE }}" | base64 -d > app/keystore.jks
          echo "${{ secrets.KEYSTORE_PROPERTIES }}" > app/keystore.properties
          echo '${{ secrets.PLAY_STORE }}' > app/play-store.json
      - name: Load config
        run: echo "${{ secrets.CONFIG }}" > lib/config.dart
      - name: Build app
        env:
          BUILD_NAME: ${{ steps.get_version.outputs.VERSION }}
        run: flutter build appbundle --build-number $GITHUB_RUN_NUMBER --build-name $BUILD_NAME --bundle-sksl-path flutter_01.sksl.json

      - name: Publish Android
        uses: r0adkll/upload-google-play@v1.0.15
        with:
          serviceAccountJsonPlainText: ${{ secrets.SERVICE_ACCOUNT_JSON }}
          packageName: net.cachapa.tudo
          releaseFiles: app/build/app/outputs/bundle/release/*.aab
          mappingFile: app/build/app/outputs/mapping/release/mapping.txt
          track: internal

